* {
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Do Hyeon', sans-serif;
}

body {
    padding-bottom: 1rem;
}

#likelion-image {
    margin-top: 2.5rem;
    width: 9rem;
    height: auto;
}

button {
    background-color: #F09837;
    color: white;
    font-size: 2.3rem;
    width: 12rem;
    height: 4rem;
    margin: 1.2rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

button:hover {
    color: #F09837;
    background-color: white;
}

button:active {
    transform: scale(0.95);
}

div {
    margin: 0.7rem;
}

#lltitle {
    margin: 1rem;
    margin-top: 0;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}

#category {
    color: gray;
    margin: 0.5rem;
    font-weight: lighter;
}

#mapbtn {
    font-size: 1.6rem;
    width: 8.5rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    margin: 0.1rem;
}

.hide, input[type=radio], #menu-recom, #mate-recom {
    display: none;
}

#navi-menu:checked ~ #menubtn, #navi-mate:checked ~ #matebtn {
    border-bottom: #F09837 solid 4px;
}

label {
    color: #F09837;
    font-size: 2rem;
    margin: 0 2rem;
    cursor: pointer;
    padding: 0 0.8rem;
}

#navi-menu:checked ~ #menu-recom, #navi-mate:checked ~ #mate-recom {
    display: block;
}

span {
    font-size: 1.7rem;
}

#rest-name {
    font-size: 3rem;
    font-weight: normal;
}