* {
    
    text-align: center;
    margin: auto;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Do Hyeon', sans-serif;
}

body {
    padding-bottom: 0.5rem;
    background-color: black;
    color: white;
    -ms-overflow-style: none;
}

::-webkit-scrollbar {
    display: none;
}

#likelion-image {
    margin-top: 3.5rem;
    width: 9rem;
    height: auto;
}

.btns {
    background-color: #F09837;
    color: white;
    font-size: 2.3rem;
    width: 12rem;
    height: 4rem;
    margin: 2.5rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
}

.btns:hover {
    color: #F09837;
    background-color: white;
}

.btns:active {
    transform: scale(0.95);
}

#lltitle {
    margin: 1rem;
    margin-top: 0;
    font-size: 3rem;
    font-family: 'Raleway', sans-serif;
}

#category {
    color: gray;
    margin: 0.5rem;
    font-weight: lighter;
}

.smallbtn {
    font-size: 1.6rem;
    width: 8.5rem;
    height: 2.6rem;
    border-radius: 1.3rem;
    margin: 0.6rem;
}

label {
    color: #F09837;
    font-size: 2rem;
    margin: 0 2rem;
    cursor: pointer;
    padding: 0 0.8rem;
}

.hide, input[type=radio], #menu-recom, #mate-recom, #time {
    display: none;
}

#navi-menu:checked ~ #menubtn, #navi-mate:checked ~ #matebtn, #navi-time:checked ~ #timebtn {
    border-bottom: #F09837 solid 4px;
}

#navi-menu:checked ~ #menu-recom, #navi-mate:checked ~ #mate-recom, #navi-time:checked ~ #time {
    display: block;
}

#mate-recom, #time {
    padding-top: 1rem;
}

span {
    font-size: 1.7rem;
}

#rest-name {
    font-size: 3rem;
    font-weight: normal;
}

p { 
    margin-top: 0.5rem;
}

#time > h2 {
    margin: 0.7rem;
}